@import 'animation';

$background-color: #F5F5F5;
$text-color: #444444;
$shadow: 0px 0px 33px -10px rgba(0,0,0,0.75);
$font: Roboto, Tahoma, Arial, sans-serif;

$button-color: #cdcdce;
$button-text: #888888;
$active-button-color: #3237d4;
$active-button-text: #EEEEEE;
$complete-button-color: #36a252;
$complete-button-text: #EEEEEE;
$negative-color: #e45252;

$check-width: 28px;
$check-height: 15px;

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  position: relative;
}

h1, h2, p, a {
  text-align: center;
  color: $text-color;
  font-family: $font;
}

h1 {
  font-size: 3em;
  margin: 0 0 0.2em 0;
  font-variant: small-caps;
}

h2 {
  font-size: 1.8em;
  margin: 0 0 1em 0;
}

pre {
  color: $text-color;
  max-width: 500px;
  margin: 1em auto;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & > section {
    display: none;
    width: 100vw;
    padding: 2em;

    &.active {
      display: block;
    }

    &#incompatible {
      padding-bottom: 5em;
    }

    @media screen and (max-width: 600px) {
      padding-bottom: 8em;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;

  font-size: 0.8em;
  text-align: left;

  p, a {
    color: lighten($text-color, 30%);
  }
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  pointer-events: none;
  transition: background-color 0.2s ease;

  &.active {
    background-color: rgba(0,0,0,0.4);
    pointer-events: all;

    #content {
      transform: scale(1);
      opacity: 1;
    }
  }

  #content {
    max-width: 450px;
    padding: 2em;

    border-radius: 10px;
    background-color: $background-color;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;

    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: scale(0.7);
    opacity: 0;

    .buttons {
      text-align: center;
      margin: 1em auto 0 auto;

      button {
        margin: 1em;
        padding: 1em 1.5em;
        color: #EEEEEE;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        font-family: $font;
        font-size: 0.9em;

        &.yes {
          background-color: $complete-button-color;

          &:focus {
            background-color: darken($complete-button-color, 3%);
          }
          &:hover {
            background-color: lighten($complete-button-color, 3%);
          }
        }
        &.no {
          background-color: $negative-color;

          &:focus {
            background-color: darken($negative-color, 3%);
          }
          &:hover {
            background-color: lighten($negative-color, 3%);
          }
        }
      }
    }
  }
}

main section.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;

  button {
    width: 20vw;
    max-width: 200px;
    min-width: 140px;
    height: 20vw;
    max-height: 200px;
    min-height: 140px;
    margin: 5vh 2vw 5vh 2vw;

    border-radius: 50%;
    background-color: $button-color;
    border: 0px;
    cursor: default;

    color: $button-text;
    font-family: $font;

    transition: background-color 0.2s ease, border 0.2s ease;

    &.active {
      background-color: $active-button-color;
      cursor: pointer;
      color: $active-button-text;

      &:focus {
        background-color: darken($active-button-color, 3%);
      }
      &:hover {
        background-color: lighten($active-button-color, 3%);
      }
    }

    &.complete {
      background-color: $complete-button-color;
      cursor: pointer;
      color: $complete-button-text;

      &:focus {
        background-color: darken($complete-button-color, 2%);
      }
      &:hover {
        background-color: lighten($complete-button-color, 2%);
      }

      // Show checkmark animation
      span {
        color: $complete-button-color;
        font-size: 0;
        width: 38px;
        height: 57px;
        padding-top: 6px;
        margin: 0px auto;

        &:before {
          content: ' ';
          left: 50px;
          display: block;
          box-sizing: content-box;
          width: $check-width;
          height: $check-height;

          border: 5px solid white;
          border-top: 0;
          border-right: 0;
          transform: translate(0px, 18px) rotate(-45deg);
          transform-origin: left top;
          @include animation(checkmark-animation 0.6s 1 ease);
        }

        @include keyframes(checkmark-animation) {
          0% {
            height: 0;
            width: 0;
            opacity: 1;
          }
          50% {
            height: $check-height;
            width: 0;
            opacity: 1;
          }
          100% {
            height: $check-height;
            width: $check-width;
            opacity: 1;
          }
        }
      }

    }

    &:focus {
      outline: none;
    }

    span {
      font-size: 3em;
      display: block;
      margin: 0 0 0.2em 0;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin: 4vh;

    button {
      margin: 2vh 2vw 2vh 2vw;
    }
  }

}
